aza2025/nodered.json
[{"id":"c5b20dad38f51e76","type":"tab","label":"EsiDevkit","disabled":false,"info":"","env":[]},{"id":"3dff2fa78115c322","type":"mqtt in","z":"c5b20dad38f51e76","name":"","topic":"topicAnda/tilt","qos":"0","datatype":"auto-detect","broker":"dbd495faafef3511","nl":false,"rap":true,"rh":0,"inputs":0,"x":310,"y":100,"wires":[["a0aab0cb4138fa9f","c0b50234617f69fe"]]},{"id":"a0aab0cb4138fa9f","type":"ui_gauge","z":"c5b20dad38f51e76","name":"","group":"0260392bd39e0b62","order":1,"width":0,"height":0,"gtype":"gage","title":"Tilt","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":550,"y":100,"wires":[]},{"id":"c0b50234617f69fe","type":"ui_chart","z":"c5b20dad38f51e76","name":"","group":"0260392bd39e0b62","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":550,"y":140,"wires":[[]]},{"id":"858fb6a7931ba4b4","type":"ui_audio","z":"c5b20dad38f51e76","name":"","group":"e84a1db1e58cd4a5","voice":"Google Bahasa Indonesia","always":"","x":1220,"y":460,"wires":[]},{"id":"fb957ee03cf84778","type":"mqtt in","z":"c5b20dad38f51e76","name":"","topic":"topicAnda/ldr","qos":"0","datatype":"auto-detect","broker":"dbd495faafef3511","nl":false,"rap":true,"rh":0,"inputs":0,"x":310,"y":200,"wires":[["cc7cc5a7b8e1e537","4c4c1049050e5d0f"]]},{"id":"cc7cc5a7b8e1e537","type":"ui_gauge","z":"c5b20dad38f51e76","name":"","group":"edbae99271a64679","order":1,"width":0,"height":0,"gtype":"gage","title":"Cahaya","label":"units","format":"{{value}}","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":540,"y":200,"wires":[]},{"id":"4c4c1049050e5d0f","type":"ui_chart","z":"c5b20dad38f51e76","name":"","group":"edbae99271a64679","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":530,"y":240,"wires":[[]]},{"id":"b8b38f22499a0510","type":"mqtt in","z":"c5b20dad38f51e76","name":"","topic":"iotaza/mesej","qos":"0","datatype":"auto-detect","broker":"dbd495faafef3511","nl":false,"rap":true,"rh":0,"inputs":0,"x":1030,"y":460,"wires":[["858fb6a7931ba4b4"]]},{"id":"e7287adae901928e","type":"ui_button","z":"c5b20dad38f51e76","name":"","group":"e84a1db1e58cd4a5","order":3,"width":0,"height":0,"passthru":false,"label":"ON Buzzer","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"on","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":360,"wires":[["2932f5a3125c3984"]]},{"id":"2932f5a3125c3984","type":"mqtt out","z":"c5b20dad38f51e76","name":"","topic":"topicAnda/buzzer","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"dbd495faafef3511","x":550,"y":360,"wires":[]},{"id":"9401ca9c01da12ba","type":"ui_button","z":"c5b20dad38f51e76","name":"","group":"e84a1db1e58cd4a5","order":4,"width":0,"height":0,"passthru":false,"label":"OFF Buzzer","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":400,"wires":[["2932f5a3125c3984"]]},{"id":"49f5a94ef7e4880b","type":"mqtt out","z":"c5b20dad38f51e76","name":"","topic":"topicAnda/relay1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"dbd495faafef3511","x":550,"y":480,"wires":[]},{"id":"72afb3b4a60a144d","type":"ui_button","z":"c5b20dad38f51e76","name":"","group":"e84a1db1e58cd4a5","order":5,"width":0,"height":0,"passthru":false,"label":"ON RELAY1","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"on","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":480,"wires":[["49f5a94ef7e4880b"]]},{"id":"f96ec6516376f736","type":"ui_button","z":"c5b20dad38f51e76","name":"","group":"e84a1db1e58cd4a5","order":6,"width":0,"height":0,"passthru":false,"label":"OFF RELAY1","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":300,"y":520,"wires":[["49f5a94ef7e4880b"]]},{"id":"93389f393cfb3620","type":"mqtt out","z":"c5b20dad38f51e76","name":"","topic":"topicAnda/relay2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"dbd495faafef3511","x":550,"y":580,"wires":[]},{"id":"a97476055e4b76e6","type":"ui_button","z":"c5b20dad38f51e76","name":"","group":"e84a1db1e58cd4a5","order":7,"width":0,"height":0,"passthru":false,"label":"ON   RELAY2","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"on","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":580,"wires":[["93389f393cfb3620"]]},{"id":"a50c3ea995b036b2","type":"ui_button","z":"c5b20dad38f51e76","name":"","group":"e84a1db1e58cd4a5","order":8,"width":0,"height":0,"passthru":false,"label":"OFF RELAY2","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":300,"y":620,"wires":[["93389f393cfb3620"]]},{"id":"062c926c5be5eb55","type":"mqtt in","z":"c5b20dad38f51e76","name":"","topic":"topicAnda/suhu","qos":"0","datatype":"auto-detect","broker":"dbd495faafef3511","nl":false,"rap":true,"rh":0,"inputs":0,"x":1040,"y":100,"wires":[["881025b2f777a885","174d8280d4964a09"]]},{"id":"881025b2f777a885","type":"ui_gauge","z":"c5b20dad38f51e76","name":"","group":"4eca35243f48a14f","order":1,"width":0,"height":0,"gtype":"gage","title":"SUHU","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1250,"y":100,"wires":[]},{"id":"174d8280d4964a09","type":"ui_chart","z":"c5b20dad38f51e76","name":"","group":"4eca35243f48a14f","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1250,"y":140,"wires":[[]]},{"id":"511db9c2dba577c2","type":"mqtt in","z":"c5b20dad38f51e76","name":"","topic":"topicAnda/humid","qos":"0","datatype":"auto-detect","broker":"dbd495faafef3511","nl":false,"rap":true,"rh":0,"inputs":0,"x":1040,"y":200,"wires":[["03916645a7f7e65d","e3524e7c8e089089"]]},{"id":"03916645a7f7e65d","type":"ui_gauge","z":"c5b20dad38f51e76","name":"","group":"4c221be58044654a","order":1,"width":0,"height":0,"gtype":"gage","title":"HUMIDITI","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1260,"y":200,"wires":[]},{"id":"e3524e7c8e089089","type":"ui_chart","z":"c5b20dad38f51e76","name":"","group":"4c221be58044654a","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1250,"y":240,"wires":[[]]},{"id":"48618427578264d9","type":"ui_digital_clock","z":"c5b20dad38f51e76","name":"Jam","group":"e84a1db1e58cd4a5","order":1,"width":0,"height":0,"x":1210,"y":400,"wires":[]},{"id":"80485e436de5572a","type":"inject","z":"c5b20dad38f51e76","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1050,"y":400,"wires":[["48618427578264d9"]]},{"id":"c6dcd8ebb72cd1d7","type":"ui_text_input","z":"c5b20dad38f51e76","name":"","label":"","tooltip":"","group":"e84a1db1e58cd4a5","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":1020,"y":520,"wires":[["5e70a719559e80f3"]]},{"id":"5e70a719559e80f3","type":"mqtt out","z":"c5b20dad38f51e76","name":"","topic":"aza/suara","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"dbd495faafef3511","x":1220,"y":520,"wires":[]},{"id":"dbd495faafef3511","type":"mqtt-broker","name":"","broker":"broker.emqx.io","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"0260392bd39e0b62","type":"ui_group","name":"Group 1","tab":"eb0613e1144884f3","order":2,"disp":true,"width":6},{"id":"e84a1db1e58cd4a5","type":"ui_group","name":"Kawalan","tab":"eb0613e1144884f3","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"edbae99271a64679","type":"ui_group","name":"Group 2","tab":"eb0613e1144884f3","order":3,"disp":true,"width":6},{"id":"4eca35243f48a14f","type":"ui_group","name":"Group3","tab":"eb0613e1144884f3","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4c221be58044654a","type":"ui_group","name":"Group 4","tab":"eb0613e1144884f3","order":5,"disp":true,"width":6},{"id":"eb0613e1144884f3","type":"ui_tab","name":"EsiDevkit","icon":"dashboard","order":4,"disabled":false,"hidden":false}]
